body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 background-color: purple;
 /*color:#333;*/
 }

header{
 background-color: #003366;
 color: white;
 textalign: center;
 padding:20px 0;
 }
header h1{
 margin: 0;
 fontsize: 2em;
 }
header p{
 font-style: italic;
 }
nav ul{
  display: none;
  padding:0;
nav ul li{
  display: inline;
  margin:0 15px;
nav ul li a{
  color :white;
  text-decoration: none;
 font-weight: bold;
 }
nav ul li a hover{
  text-decoration: underline;
 }
.hero button{
 background-color:#ffcc00;
 border:none;
 padding: 10px20px;
 font-size:1em;
border_radius :5px;
cursor: pointer;

<style>
body {
 background: url("logo.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
</style>